@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 90vw;
}

a{
    text-decoration: none;
    cursor: pointer !important;
}
.quotes{
  font-size: 25px;
  color: black;
  text-shadow: 0 0 2px currentColor;
}


.what_img{
    filter: drop-shadow(0 0 5px #30312a);
    animation: glow 1s alternate infinite;
}
@keyframes glow {
    0%{
        filter: drop-shadow(0 0 5px #30312a);
    }
    100%{
        filter: drop-shadow(0 0 25px #30312a);
    }
}

.home{
  background-color:#cec8b2;
}
.learn_section{
    background-color: #eeeaf2 !important;
}
.learn_section,.quotes{
    font-family: 'Playpen Sans', cursive;
}

.about_quotes{
    position: relative;
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-family: poppins;
}

.about_quotes span{
    color: #555;
     transition: 0.25s;
}
.about_quotes:hover span{
    color: #feb69e;
    text-shadow: 0 0 5px #30312a,
    0 0 15px #feb69e,
    0 0 30px #30312a;
}







#services{
  background-color: lightcoral;
}
.service{
  font-family: 'Playpen Sans', cursive;
}
.service_content{
  font-family: Open Sans,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: lighter;
  font-size: 18px;
}
.team{
    background-color: white;
  text-align: center;
  padding:20px;
   width: 100%;
    color: black;
}

.team h2{
    font-size: 20px;
}


.chef{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}
.chef .heading span{
    color: #000;
}
.chef .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;

}

.chef .box-container .box{
    height: 20rem;
    width: 15rem;
    margin: 2rem;
    border: .5rem solid var(--red);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    
}
.box{
    display: none;
}

.chef .box-container .box img{
    height: 30%;
    width: 40%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
}
.chef .box-container .box p{
    padding:5px;
    font-size: 15px;
}

.chef .box-container .box .info{
    position: absolute;
    bottom: -6rem;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: .5rem solid var(--red);
    text-align: center;
    border-top: 5px solid black;

}

.chef .box-container .box:hover .info{
    bottom: 0rem;

}


.chef .box-container .box .info h3{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.chef .box-container .box .info span{
    font-size: 1rem;
    color: #666;
}

.chef .box-container .box .info .share{
    margin-top: 1rem;
    border-top: .1rem solid rgba(0,0,0,0.3);
    padding: 1rem 0;
}

.chef .box-container .box .info .share a{
    font-size: 2rem;
    margin: 1rem;
    color: var(--red);
}

.chef .box-container .box .info .share a:hover{
    color: #333;
}

.team button{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#loadMore{
    width: 200px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: black;
    transition: .3s;
}
#loadMore:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
    text-decoration: none;
  }



  .contact_heading,.contact_para{
    text-align: center;
  }
  label{
    display:block;
    margin:1em 0 .2em;
  }
  /* single-line text, checkbox, and button */
  input, select, textarea{
    display:block;
    width:100%;
    padding:.3em;
    font-size:20px;
    background-color:#fbfbfb;
    border:solid 1px #CCC;
    resize:vertical;
  }
  textarea{
    min-height:180px;
  }
  select{
    color:indigo;
  }
  option{
    color:blue;
    background: lavenderBlush;
  }
  input[type=checkbox]{
    display:inline;
    width:auto;
    color:red;
  }
  
  input[type=submit]{
    background:lightcoral;
    margin:1em 0 0;
    color:white;
    border:none;
    border-radius:8px;
    transition:all .3s ease-out;
  }
  
  input:focus,
  input:hover,
  select:focus,
  select:hover,
  textarea:focus,
  textarea:hover{
    background: lavenderBlush;
  }
  
  /* hover and focus states */
  input[type=submit]:hover,
  input[type=submit]:focus{
    background: lightgreen;
    outline:none;
  }
  
  @media screen and (min-width:600px) {
    /*  make the form 2 columns */
    .contact:after{
      content:'';
      display:block;
      clear:both;
    }
    .column{
      width:50%;
      padding:1em;
      float:left;
    }
  }
  
  
  
  
  


  .footer {
    background-color: #D7C2BB;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .footer .heading {
    color: #000;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
  }
  
  .footer .content p {
    margin-bottom: 1.3rem;
  }
  
  .footer .content a {
    text-decoration: none;
    color: #000;
  }
  
  .footer .content a:hover {
    border-bottom: 1px solid #971717;
  }
  
  .footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
  }
  
  footer {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  footer hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
  
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }



  .button {
    display: inline-block;
    background: lightcoral;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer !important;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
  }
  .button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
            transform: translate(0px, -10px) scale(1.2);
            background: lightcoral;
  }

  
.navbar-nav>li>a{

  text-transform: uppercase;
  font-size: 12px;
  margin-right:20px;
  color: #fff;
}


.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;

    }

    .nav-link{

      color: #fff !important;
    }


.wrapper{
      width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}

.navbar-brand{

  color:#fff;
  font-family: 'Allerta Stencil', sans-serif;
  margin-bottom: 4px;
  font-size: 27px;
}

.navbar-red:hover .wrapper{

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

}

.navbar-brand:hover{

  color:#fff;
  
}

.navbar-red{

  background-color: red;
  color: #fff;

}

.all-show{

  z-index: 10;
}
.logo{
    width: 40px;
    height: 40px;;
}

.nav-item{
  border: 2px solid;
  border-image: repeating-linear-gradient(135deg,#0f0d03 0 10px,hsla(32, 98%, 46%, 0.499) 0 20px,#bd15502f 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.nav-item:hover {
  --_i: 100%;
  color: #000;
  transition: .3s, -webkit-mask-size .3s .3s;
}
.nav-link:hover{
  color: #000 !important;
  transition: .3s, -webkit-mask-size .3s .3s;

}






 
  @media screen and (max-width: 900px) {
    .box{
      display: none;
    }
    .button {
      display: inline-block;
      background: #4285f4;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
    }
    .button:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
              transform: translate(0px, -10px) scale(1.2);
    }
    .chef .box-container .box:hover .info{
      bottom: 0rem;
  
  }
  
  
}

  @media screen and (max-width: 700px){
    .side img{
        display: none;
    }
    /* .button {
      display: inline-block;
      background: #4285f4;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
    } */
    .button:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
              transform: translate(0px, -10px) scale(1.2);
    }
    .chef .box-container .box:hover .info{
      bottom: 0rem;
  
  }
  
  
  }

  @media screen and (max-width: 400px){
    .side img{
        display: none;
    }
    .button {
      display: inline-block;
      background: #4285f4;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 30px;
      border-radius: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
      
    }
    .button:hover {
      box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
      -webkit-transform: translate(0px, -10px) scale(1.2);
              transform: translate(0px, -10px) scale(1.2);
    }
    .chef .box-container .box:hover .info{
      bottom: 0rem;
  
  }
  
  
  }




  
  .swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
    margin-right: 10px;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}



.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 4s 1s ease-out forwards infinite;
  text-align: center;
  font-size: 30px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}





.sticky-icon  {
	z-index:1;
	position:fixed;
	top:15%;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;}  
.sticky-icon a  {
	transform:translate(160px,0px);
	border-radius:50px 0px 0px 50px;
	text-align:left;
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:15px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;}
.sticky-icon a:hover  {
	color:#FFF;
	transform:translate(0px,0px);}	
.sticky-icon a:hover i  {
	transform:rotate(360deg);}
/*.search_icon a:hover i  {
	transform:rotate(360deg);}*/
.Facebook  {
	background-color:#2C80D3;
	color:#FFF;}
	
.Youtube  {
	background-color:#fa0910;
	color:#FFF;}
	
.Twitter  {
	background-color:#53c5ff;
	color:#FFF;}
	
.Instagram  {
	background-color:#FD1D1D;
	color:#FFF;}
	
.Google  {
	background-color:#d34836;
	color:#FFF;}						
.sticky-icon a i {
	background-color:#FFF;
	height:40px;
	width:40px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-right:20px;
	transition:all 0.5s;}
.sticky-icon a i.fa-facebook-f  {
	background-color:#FFF;
	color:#2C80D3;}
	
.sticky-icon a i.fa-google-plus-g  {
	background-color:#FFF;
	color:#d34836;}
	
.sticky-icon a i.fa-instagram  {
	background-color:#FFF;
	color:#FD1D1D;}
	
.sticky-icon a i.fa-youtube  {
	background-color:#FFF;
	color:#fa0910;}
	
.sticky-icon a i.fa-twitter  {
	background-color:#FFF;
	color:#53c5ff;}
.fas fa-shopping-cart  {
	background-color:#FFF;}	
#myBtn {
	height:50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align:center;
  padding:10px;
  text-align:center;
	line-height:40px;
  border: none;
  outline: none;
  background-color: #1e88e5;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-circle-up  {
	font-size:30px;}

#myBtn:hover {
  background-color: #555;
}			




